* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

h1 {
  margin: 0;
}

.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.cat-info {
  display: flex;
  gap: 30px;
}

.breed-select {
  width: 100%;
  max-width: 250px;
  margin-bottom: 10px;
}

.cat-info-description {
  max-width: 60%;
}
